<section class="section-portfolio scroll" data-set="section-portfolio">
    <div class="container">
        <div class="portfolio__content">
            <div class="portfolio__title">
                <span class="portfolio-left__underline"></span>
                <h2 class="portfolio">Portfolio</h2>
                <span class="portfolio-right__underline"></span>
            </div>
            <div class="portfolio__items">
                <div class="portfolio__item">
                    <div class="portfolio__nav">
                        <button class="button-dark button-portfolio activ winter" data-aria="winter">Winter</button>
                        <button class="button-dark button-portfolio spring" data-aria="spring">Spring</button>
                        <button class="button-dark button-portfolio summer" data-aria="summer">Summer</button>
                        <button class="button-dark button-portfolio autumn" data-aria="autumn">Autumn</button>
                    </div>
                </div>
                <div class="portfolio__item">
                    <div class="portfolio__view">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>