<section class="section-video">
    <div class="container">
        <div class="video__content">
            <div class="video__title">
                <span class="video-left__underline"></span>
                <h2 class="video video">Video</h2>
                <span class="video-right__underline"></span>
            </div>
            <div class="section-video__items">
                <div class="video__item">
                    <img src="img/video/video-player.png" alt="video" class="player" />
                    <span class="player__play"></span>
                </div>
            </div>
        </div>
    </div>
</section>