<section class="section-skills scroll" data-set="section-skills">
    <div class="container">
        <div class="skills__content">
            <div class="skills__title">
                <span class="skills-left__underline"></span>
                <h2 class="skills">Skills</h2>
                <span class="skills-right__underline"></span>
            </div>
            <div class="skills__items">
                <div class="skills__item">
                    <img src="img/icon/camera.png" alt="camera-icon">
                    <p class="skills-item__title skill-title-1">Digital photography</p>
                    <p class="skills-item_desc skill-text-1">High-quality photos in the studio and on the nature</p>
                </div>
                <div class="skills__item">
                    <img src="img/icon/video.png" alt="video-icon">
                    <p class="skills-item__title skill-title-2">Video shooting</p>
                    <p class="skills-item_desc skill-text-2">Capture your moments so that they always stay with you</p>
                </div>
                <div class="skills__item">
                    <img src="img/icon/picture.png" alt="picture-icon">
                    <p class="skills-item__title skill-title-3">Retouch</p>
                    <p class="skills-item_desc skill-text-3">I strive to make photography surpass reality</p>
                </div>
                <div class="skills__item">
                    <img src="img/icon/mic.png" alt="microphone-icon">
                    <p class="skills-item__title skill-title-4">Audio</p>
                    <p class="skills-item_desc skill-text-4">Professional sounds recording for video, advertising, portfolio</p>
                </div>
            </div>
        </div>
    </div>
</section>