    <div class="container">
        <div class="footer__content">
            <div class="footer__items">
                <div class="footer__item info">
                    <p class="footer__copyrite">
                        <a href="">
                            <img src="img/icon/copyrite.png" alt="copyrite">
                        </a>
                    </p>
                    <p class="footer__year">2022</p>
                    <p class="footer__git">
                        <a href="">GitHub</a>
                        </p>
                </div>
                <div class="footer__item title">
                    <p>Rolling Scopes School</p>
                </div>
                <div class="footer__item social">
                    <a href="/">
                        <img src="img/icon/social/inst.png" alt="inst">
                    </a>
                    <a href="/">
                        <img src="img/icon/social/fb.png" alt="facebook">
                    </a>
                    <a href="/">
                        <img src="img/icon/social/tw.png" alt="twitter">
                    </a>
                    <a href="/">
                        <img src="img/icon/social/pinterest.png" alt="pinterest">
                    </a>
                </div>
            </div>
        </div>
    </div>