    
    <div class="container">
        <div class="header__top">
            <div class="indicator-scroll"></div>
            <div class="header__logo">
                <a href="/"><img src="img/logo.png" alt="logo"></a>
            </div>
            <div class="header__nav">
                <nav class="navigation">
                    <ul class="navigation__list">
                        <li><a href="#section-skills" class="skills">Skills</a></li>
                        <li><a href="#section-portfolio" class="portfolio">Portfolio</a></li>
                        <li><a href="#section-video" class="video">Video</a></li>
                        <li><a href="#section-price" class="price">Price</a></li>
                        <li><a href="#section-contacts" class="contacts">Contacts</a></li>
                    </ul>
                    <span class="close-mobile"></span>
                </nav>
                <div class="switch__language">
                    <ul class="language__list">
                        <li><a href="" class="lang activ" data-lang="en">en</a></li>
                        <li><span>/</span></li>
                        <li><a href="" class="lang" data-lang="ru">ru</a></li>
                    </ul>
                </div>
                <div class="menu-mobile">               
                </div>
                <span class="switch-theme" >
                </span>
            </div>
        </div>
    </div>