<section class="section-contacts">
    <div class="container">
        <div class="contacts__item">
            <div class="contacts__form">
                    <h2 class="form__title contact-me">Contact me</h2>
                    <form action="" class="forms">
                        <input type="email" name="email" required placeholder="E-mail" />
                        <input type="phone" name="phone" required placeholder="Phone" />
                        <textarea type="message" name="message" required placeholder="Message" ></textarea>
                        <button type="submit" class="button-gold submit-form send-message">Send message</button>
                    </form>
            </div>
        </div>
    </div>
</section>

