<section class="section-price">
    <div class="container">
        <div class="price__content">
            <div class="price__title">
                <span class="price-left__underline"></span>
                <h2 class="price">Price</h2>
                <span class="price-right__underline"></span>
            </div>
            <div class="price__items">
                <div class="price__item">
                    <p class="price-item__title ">Standard</p>
                    <p class="price-item_cash">500 $</p>
                    <p class="price-item_desc">
                        <span class="price-description-1-span-1">One location</span>
                        <span class="price-description-1-span-2">120 photos in color</span>
                        <span class="price-description-1-span-3">12 photos in retouch</span>
                        <span class="price-description-1-span-4">Readiness 2-3 weeks</span>
                        <span class="price-description-1-span-5">Make up, visage</span>
                    </p>
                    <button class="order button-gold">Order shooting</button>
                </div>
                <div class="price__item">
                    <p class="price-item__title ">Premium</p>
                    <p class="price-item_cash">700 $</p>
                    <p class="price-item_desc">
                        <span class="price-description-2-span-1">One or two locations</span>
                        <span class="price-description-2-span-2">200 photos in color</span>
                        <span class="price-description-2-span-3">20 photos in retouch</span>
                        <span class="price-description-2-span-4">Readiness 1-2 weeks</span>
                        <span class="price-description-2-span-5">Make up, visage</span>
                    </p>
                    <button class="order button-gold">Order shooting</button>
                </div>
                <div class="price__item">
                    <p class="price-item__title ">Gold</p>
                    <p class="price-item_cash">1000 $</p>
                    <p class="price-item_desc ">
                        <span class="price-description-3-span-1">Three locations or more</span>
                        <span class="price-description-3-span-2">300 photos in color</span>
                        <span class="price-description-3-span-3">50 photos in retouch</span>
                        <span class="price-description-3-span-4">Readiness 1 week</span>
                        <span class="price-description-3-span-5">Make up, visage, hairstyle</span>
                    </p>
                    <button class="order button-gold">Order shooting</button>
                </div>
            </div>
        </div>
    </div>
</section>