@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@700&display=swap');

//font-family
$fontFamilyInter:'Inter';
$fontFamilyMerriweather:'Merriweather';

//COLOR
$colorWhite:#fff;
$colorGold:  #BDAE82;
$colorDark:#000000;


//SIZE TITLE SECTION
$sizeTitleSection:40px;
$sizeContent:20px;

//PADDING TOP AND BOTTOM SECTION
$paddingSection: 100px 0 0 0